.axis path{
    stroke:black;
    stroke-width:2px ;
}   

.axis line{
    stroke: black;
    stroke-width: 1.5px;
} 

.axis text{
    fill: black;
    font-weight: bold;
    font-size: 14px;
    font-family:"Arial Black", Gadget, sans-serif;
} 

.legend text{
    fill:  black;
    font-family:"Arial Black", Gadget, sans-serif;
}

