
body {
    background-color: #F3F1E6;
}

#josh-svg {
    border: 5px solid #CECCC3;
}

#controlPanel {
    fill: black;
    font-size: 24;
    font-family: Arial Black;
}

#insights {
    fill: black;
    font-size: 24;
    font-family: Arial Black;
}

.axis path {
    stroke:black;
    stroke-width:2px ;
}   

.axis line {
    stroke: black;
    stroke-width: 1.5px;
} 

.axis text {
    fill: black;
    font-weight: bold;
    font-size: 14px;
    font-family:"Arial Black", Gadget, sans-serif;
} 

.legend text {
    fill:  black;
    font-family:"Arial Black", Gadget, sans-serif;
}

.gridline {
    stroke-width: 0.2px;
}

#chart2 {
    float: right;
    margin-top: 15%;
    border: 5px solid #CECCC3;
}
/** 
The use of !important allows us to override the other styling preferences
This is used for when the singular circle nodes are getting hovered
**/
.node:hover{
    stroke-width: 7px !important;
    opacity: 1 !important;
}